:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

#light {
  color-scheme: light;
  background-color: #fff;
  color: #16171A;
}

#dark {
  color-scheme: dark;
  background-color: #16171A;
  color: #EEEFEF;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}

.logo {
  font-weight: 900;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#dark .logo {
  color: #EEEFEF;
}

#light .logo {
  color: #16171A;
}

.theme-checkbox {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.theme-checkbox input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 50px 350px;
}

button[type=submit] {
  background: #705DF2;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  margin: 10px;
}

#dark button[type=submit] {
  color: #322D5E;
}

#light button[type=submit] {
  color: #D2CCFC;
}

button[type=submit]:hover {
  cursor: pointer;
}

button[type=submit]:active {
  transform: scale(1.05);
}

button[type=button] {
  background: transparent;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  border: none;
  padding: 10px;
  margin: 5px;
}

#dark button[type=button]:hover {
  cursor: pointer;
  background: #272A2E;
}

#light button[type=button]:hover {
  cursor: pointer;
  background: #E0E1E1;
}

.input {
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 20px;
}

.input:focus {
  outline: none;
}

input[type=checkbox] {
  margin: 10px;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.new-task {
  display: flex;
  gap: 15px;
  justify-items: center;
  align-items: stretch;
  border-radius: 15px;
  margin-bottom: 20px;
}

#dark .new-task {
  background-color: #1C1E21;
  color: #EEEFEF;
}

#light .new-task {
  background-color: #EEEFEF;
  color: #16171A;
}

.task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15px;
  font-weight: 425;
}

.task {
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#dark .task {
  background-color: #1C1E21;
}

#light .task {
  background-color: #EEEFEF;
}

.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.task-checkbox {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

#dark .task-checkbox {
  background-color: #272A2E;
}

#light .task-checkbox {
  background-color: #E0E1E1;
}

#dark .task-checkbox:checked {
  background-color: #705DF2;
  background-image: url('./checkmark.svg');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

#light .task-checkbox:checked {
  background-color: #705DF2;
  background-image: url('./checkmark.svg');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}