:root {
  background-color: #16171A;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

main {
  margin: 50px 350px;
}

/* Width (vertical and horizontal) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1C1E21; 
} 
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A1A1A2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a2b0; 
}


/* Buttons/Links */
a {
  text-decoration: none;
}

button[type=submit] {
  background: #705DF2;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  border: none;
  transition-duration: 0.4s;
  padding: 10px 20px;
  margin: 10px;
}

button[type=submit]:hover {
  background: #6150cc;
  cursor: pointer;
}

button[type=button] {
  background: transparent;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  border: none;
  transition-duration: 0.4s;
  padding: 5px 10px;
  margin: 5px;
}

button[type=button]:hover {
  cursor: pointer;
  background: #272A2E;
}

.link {
  color: #705DF2;
  text-decoration: none;
  transition-duration: 0.4s;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  transition-duration: 0.4s;
  opacity: 0.65;
}

.nav-link:hover {
  opacity: 1;
  cursor: pointer;
}

.input {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 20px;
}

.input:focus {
  outline: none;
}

.task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.task {
  background-color: #1C1E21;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

form {
  display: flex;
  gap: 15px;
  justify-items: center;
  align-items: stretch;
  background-color: #1C1E21;
  border-radius: 15px;
  margin-bottom: 20px;
}